version 2/design 2/code/Node-Red Flows/Smart USB Hub manual.flow
[{"id":"fa7f95fe.3ad388","type":"tab","label":"Smart USB Hub manual","disabled":false,"info":""},{"id":"b665dfc1.31469","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 error test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,4000","payloadType":"str","x":160,"y":320,"wires":[["ec8f003b.3fc83"]]},{"id":"15af9485.026f9b","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 1500mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,1500","payloadType":"str","x":160,"y":360,"wires":[["b7de5eb6.0c2b6"]]},{"id":"fac5d8b2.24be48","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 50mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,50","payloadType":"str","x":150,"y":400,"wires":[["1b32cf4.ad8b731"]]},{"id":"560625cb.95132c","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 1500mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"2,1500","payloadType":"str","x":440,"y":360,"wires":[["8ab2ee7a.34db5"]]},{"id":"df6f8c91.de35","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 50mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"2,50","payloadType":"str","x":430,"y":400,"wires":[["56de670.fd22698"]]},{"id":"d17a34b0.563898","type":"comment","z":"fa7f95fe.3ad388","name":"Port Current Config","info":"","x":150,"y":280,"wires":[]},{"id":"b94fb56e.fac528","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,data","payloadType":"str","x":380,"y":580,"wires":[["cf14e4ed.9ad0b8"]]},{"id":"47dead9.8c40754","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,data","payloadType":"str","x":140,"y":580,"wires":[["5dd3485c.745468"]]},{"id":"e15ce2b8.fc6a4","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,power","payloadType":"str","x":390,"y":540,"wires":[["6b44403.28981c"]]},{"id":"ec2de812.2cf7c8","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,power","payloadType":"str","x":150,"y":540,"wires":[["cdd317ca.e1c948"]]},{"id":"17e98a36.1922a6","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,off","payloadType":"str","x":380,"y":500,"wires":[["c8b7053b.6053b8"]]},{"id":"c02fca78.177b98","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,off","payloadType":"str","x":140,"y":500,"wires":[["755785f5.9c3c9c"]]},{"id":"52ede50b.04af4c","type":"comment","z":"fa7f95fe.3ad388","name":"LED brightness","info":"","x":380,"y":60,"wires":[]},{"id":"5138c388.a4124c","type":"inject","z":"fa7f95fe.3ad388","name":"full","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"255","payloadType":"str","x":370,"y":100,"wires":[["12c7870f.64a899"]]},{"id":"67d708c8.9c8868","type":"inject","z":"fa7f95fe.3ad388","name":"mid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"100","payloadType":"str","x":370,"y":180,"wires":[["65f2dc9f.452d04"]]},{"id":"8d423377.ce847","type":"inject","z":"fa7f95fe.3ad388","name":"low","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"5","payloadType":"str","x":370,"y":220,"wires":[["94eb8f93.5e8e3"]]},{"id":"155d3200.7ba11e","type":"comment","z":"fa7f95fe.3ad388","name":"Port State","info":"","x":120,"y":460,"wires":[]},{"id":"be5a944c.cd5af8","type":"inject","z":"fa7f95fe.3ad388","name":"TRUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/override","payload":"1","payloadType":"str","x":130,"y":100,"wires":[["20b854fd.96ba0c"]]},{"id":"fd0d80ac.17d3e","type":"inject","z":"fa7f95fe.3ad388","name":"FALSE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/override","payload":"0","payloadType":"str","x":130,"y":140,"wires":[["b5442134.ac43a"]]},{"id":"458c320e.7082bc","type":"comment","z":"fa7f95fe.3ad388","name":"OverRide Mode","info":"","x":140,"y":60,"wires":[]},{"id":"3da6377.b3409c8","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,data","payloadType":"str","x":620,"y":580,"wires":[["5f2cd6d8.df0c88"]]},{"id":"3f3660f3.80eee","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,power","payloadType":"str","x":630,"y":540,"wires":[["ce153949.ae8518"]]},{"id":"e9d6b1aa.8b81f","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,off","payloadType":"str","x":620,"y":500,"wires":[["358797f9.191fe8"]]},{"id":"ec55d675.7e82e8","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,data","payloadType":"str","x":860,"y":580,"wires":[["970799a0.401d78"]]},{"id":"5f1e16b5.dbc908","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,power","payloadType":"str","x":870,"y":540,"wires":[["ba694d77.752b2"]]},{"id":"d1ef18c5.771448","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,off","payloadType":"str","x":860,"y":500,"wires":[["96f91e0f.ea794"]]},{"id":"1aac5729.9f8fc9","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,255,0,0","payloadType":"str","x":150,"y":760,"wires":[["b114cdc0.d7a0b"]]},{"id":"148dadc0.888232","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,255,0,0,0","payloadType":"str","x":140,"y":720,"wires":[["a7d11ec3.e361c"]]},{"id":"bb55316b.2e44a","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,0,0","payloadType":"str","x":140,"y":680,"wires":[["8c03a797.a1ce18"]]},{"id":"44bfe3d7.89919c","type":"comment","z":"fa7f95fe.3ad388","name":"LED Set","info":"","x":120,"y":640,"wires":[]},{"id":"71f6231c.c7265c","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"1,255,0,255,0","payloadType":"str","x":180,"y":880,"wires":[["f9d8e6fe.94b8e8"]]},{"id":"33f0e40e.3e8c0c","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,0,255","payloadType":"str","x":150,"y":840,"wires":[["b953ef28.c106c"]]},{"id":"c8800d15.4556","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,255,0","payloadType":"str","x":150,"y":800,"wires":[["f681a151.1a6ae"]]},{"id":"9bf8a4c1.7467f8","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,255,0,0","payloadType":"str","x":450,"y":760,"wires":[["7d704144.2cfa4"]]},{"id":"40295c27.638f74","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,255,0,0,0","payloadType":"str","x":440,"y":720,"wires":[["2256a0b0.6ce2"]]},{"id":"65e0d57c.fc9fec","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,0,0","payloadType":"str","x":440,"y":680,"wires":[["c8d14e96.dd184"]]},{"id":"4aa6f4df.9437fc","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"2,255,0,255,0","payloadType":"str","x":480,"y":880,"wires":[["be52cbf3.66b1e8"]]},{"id":"87ac0352.4cbe8","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,0,255","payloadType":"str","x":450,"y":840,"wires":[["cbc3cded.ddae5"]]},{"id":"55f0191.a5c26e8","type":"inject","z":"fa7f95fe.3ad388","name":"port 2 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,255,0","payloadType":"str","x":450,"y":800,"wires":[["fef3bac5.f04b68"]]},{"id":"8afbe810.865b68","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,255,0,0","payloadType":"str","x":750,"y":760,"wires":[["fa04f0f4.cd57c"]]},{"id":"b5b7f474.70fc08","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,255,0,0,0","payloadType":"str","x":740,"y":720,"wires":[["2a779736.55c668"]]},{"id":"b228371b.1641a8","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,0,0","payloadType":"str","x":740,"y":680,"wires":[["7de7fa5c.696e34"]]},{"id":"f8908bfe.260658","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"3,255,0,255,0","payloadType":"str","x":780,"y":880,"wires":[["40cba0f1.8c396"]]},{"id":"22c156d1.d0dd4a","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,0,255","payloadType":"str","x":750,"y":840,"wires":[["f07c708b.c9cf"]]},{"id":"725c9d50.a7fe14","type":"inject","z":"fa7f95fe.3ad388","name":"port 3 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,255,0","payloadType":"str","x":750,"y":800,"wires":[["aa108981.af0598"]]},{"id":"3953e6d4.62b61a","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,255,0,0","payloadType":"str","x":1050,"y":760,"wires":[["95a3faea.df0818"]]},{"id":"437bc811.a5b068","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,255,0,0,0","payloadType":"str","x":1040,"y":720,"wires":[["a0ace86b.11abb8"]]},{"id":"61728837.53c558","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,0,0","payloadType":"str","x":1040,"y":680,"wires":[["335b5dce.6896d2"]]},{"id":"9cf3437e.57314","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"4,255,0,255,0","payloadType":"str","x":1080,"y":880,"wires":[["890e6dd0.9b79f"]]},{"id":"53ca7f5d.43cb6","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,0,255","payloadType":"str","x":1050,"y":840,"wires":[["1cfbe337.1458fd"]]},{"id":"924766bb.6a32b8","type":"inject","z":"fa7f95fe.3ad388","name":"port 4 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,255,0","payloadType":"str","x":1050,"y":800,"wires":[["403534d3.ef15ec"]]},{"id":"512f6321.f304dc","type":"inject","z":"fa7f95fe.3ad388","name":"port 1 RED/white","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,255,0,0,50","payloadType":"str","x":160,"y":920,"wires":[["3fcc027a.ad771e"]]},{"id":"fcca19a.39be9e8","type":"inject","z":"fa7f95fe.3ad388","name":"3/4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"190","payloadType":"str","x":370,"y":140,"wires":[["3860c140.8e08be"]]},{"id":"20b854fd.96ba0c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":215,"y":100,"wires":[]},{"id":"b5442134.ac43a","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":215,"y":140,"wires":[]},{"id":"12c7870f.64a899","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":455,"y":100,"wires":[]},{"id":"3860c140.8e08be","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":455,"y":140,"wires":[]},{"id":"65f2dc9f.452d04","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":455,"y":180,"wires":[]},{"id":"94eb8f93.5e8e3","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":455,"y":220,"wires":[]},{"id":"ec8f003b.3fc83","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":275,"y":320,"wires":[]},{"id":"1b32cf4.ad8b731","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":275,"y":400,"wires":[]},{"id":"b7de5eb6.0c2b6","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":275,"y":360,"wires":[]},{"id":"8ab2ee7a.34db5","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":555,"y":360,"wires":[]},{"id":"56de670.fd22698","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":555,"y":400,"wires":[]},{"id":"755785f5.9c3c9c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":255,"y":500,"wires":[]},{"id":"5dd3485c.745468","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":255,"y":580,"wires":[]},{"id":"cdd317ca.e1c948","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":255,"y":540,"wires":[]},{"id":"c8b7053b.6053b8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":495,"y":500,"wires":[]},{"id":"cf14e4ed.9ad0b8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":495,"y":580,"wires":[]},{"id":"6b44403.28981c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":495,"y":540,"wires":[]},{"id":"358797f9.191fe8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":735,"y":500,"wires":[]},{"id":"5f2cd6d8.df0c88","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":735,"y":580,"wires":[]},{"id":"ce153949.ae8518","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":735,"y":540,"wires":[]},{"id":"96f91e0f.ea794","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":975,"y":500,"wires":[]},{"id":"970799a0.401d78","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":975,"y":580,"wires":[]},{"id":"ba694d77.752b2","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":975,"y":540,"wires":[]},{"id":"b953ef28.c106c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":840,"wires":[]},{"id":"3fcc027a.ad771e","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":920,"wires":[]},{"id":"f9d8e6fe.94b8e8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":880,"wires":[]},{"id":"a7d11ec3.e361c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":720,"wires":[]},{"id":"f681a151.1a6ae","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":800,"wires":[]},{"id":"b114cdc0.d7a0b","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":760,"wires":[]},{"id":"8c03a797.a1ce18","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":315,"y":680,"wires":[]},{"id":"cbc3cded.ddae5","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":840,"wires":[]},{"id":"be52cbf3.66b1e8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":880,"wires":[]},{"id":"2256a0b0.6ce2","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":720,"wires":[]},{"id":"fef3bac5.f04b68","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":800,"wires":[]},{"id":"7d704144.2cfa4","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":760,"wires":[]},{"id":"c8d14e96.dd184","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":615,"y":680,"wires":[]},{"id":"f07c708b.c9cf","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":840,"wires":[]},{"id":"40cba0f1.8c396","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":880,"wires":[]},{"id":"2a779736.55c668","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":720,"wires":[]},{"id":"aa108981.af0598","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":800,"wires":[]},{"id":"fa04f0f4.cd57c","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":760,"wires":[]},{"id":"7de7fa5c.696e34","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":915,"y":680,"wires":[]},{"id":"1cfbe337.1458fd","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":840,"wires":[]},{"id":"890e6dd0.9b79f","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":880,"wires":[]},{"id":"a0ace86b.11abb8","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":720,"wires":[]},{"id":"403534d3.ef15ec","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":800,"wires":[]},{"id":"95a3faea.df0818","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":760,"wires":[]},{"id":"335b5dce.6896d2","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1215,"y":680,"wires":[]},{"id":"3310e52c.9d120a","type":"comment","z":"fa7f95fe.3ad388","name":"Flash Interval","info":"","x":610,"y":60,"wires":[]},{"id":"ec1a3fd8.b6f3e","type":"inject","z":"fa7f95fe.3ad388","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":620,"y":100,"wires":[["f7a8ee1f.f18c"]]},{"id":"14463797.84bf78","type":"inject","z":"fa7f95fe.3ad388","name":"stop timer","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":620,"y":140,"wires":[["f7a8ee1f.f18c"]]},{"id":"f7a8ee1f.f18c","type":"trigger","z":"fa7f95fe.3ad388","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":840,"y":120,"wires":[["a953dd3.ec95e2"]]},{"id":"a953dd3.ec95e2","type":"state-machine","z":"fa7f95fe.3ad388","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","1"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"0"}],"x":1040,"y":120,"wires":[["50fbd15c.3bfc4"]]},{"id":"50fbd15c.3bfc4","type":"change","z":"fa7f95fe.3ad388","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":120,"wires":[["1396b894.dd5bb7"]]},{"id":"1396b894.dd5bb7","type":"link out","z":"fa7f95fe.3ad388","name":"","links":["909641fe.b0c8f"],"x":1295,"y":120,"wires":[]}]
