version 2/design 2/code/Node-Red Flows/Smart USB Hub dashboard.flow
[{"id":"198f2f71.ac0d81","type":"tab","label":"Smart USB Hub dashboard","disabled":false,"info":""},{"id":"46eab484.de631c","type":"ui_template","z":"198f2f71.ac0d81","group":"a13fc3c2.e2b6e","name":"Port 1","order":2,"width":0,"height":0,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: 'toggle'})\"> \n    P{{msg.payload.Port}}\n    &nbsp;:&nbsp;\n    {{msg.payload.Volts}}v\n    &nbsp;:&nbsp;\n    {{msg.payload.milliAmps}}mA\n</md-button> \n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":510,"y":320,"wires":[["b22e86c9.e22cd8"]]},{"id":"b22e86c9.e22cd8","type":"link out","z":"198f2f71.ac0d81","name":"","links":[],"x":755,"y":320,"wires":[]},{"id":"51e7cdf5.e2bf44","type":"link in","z":"198f2f71.ac0d81","name":"P1","links":["150d2bc6.3f0424"],"x":110,"y":320,"wires":[["23e1ecc7.1b65f4"]],"l":true},{"id":"cfa7ce59.0e415","type":"link in","z":"198f2f71.ac0d81","name":"","links":[],"x":715,"y":280,"wires":[["b22e86c9.e22cd8"]]},{"id":"14e26ec9.7c0d91","type":"switch","z":"198f2f71.ac0d81","name":"","property":"payload.Port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":120,"wires":[["1f91a62a.696baa","150d2bc6.3f0424"],["3884e848.e70138","8ef66d6e.0b12a"],["fff1a121.f5cd2","936368c2.63d288"],["856f99f.3f4fe68","4d6728a2.96e098"]]},{"id":"1f91a62a.696baa","type":"debug","z":"198f2f71.ac0d81","name":"Mode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Mode","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"3884e848.e70138","type":"debug","z":"198f2f71.ac0d81","name":"Mode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Mode","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"fff1a121.f5cd2","type":"debug","z":"198f2f71.ac0d81","name":"Mode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Mode","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"856f99f.3f4fe68","type":"debug","z":"198f2f71.ac0d81","name":"Mode","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Mode","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"150d2bc6.3f0424","type":"link out","z":"198f2f71.ac0d81","name":"P1","links":["51e7cdf5.e2bf44"],"x":410,"y":60,"wires":[],"l":true},{"id":"8ef66d6e.0b12a","type":"link out","z":"198f2f71.ac0d81","name":"P2","links":["eaf03ce2.52e2","c412b759.e28c68"],"x":410,"y":100,"wires":[],"l":true},{"id":"936368c2.63d288","type":"link out","z":"198f2f71.ac0d81","name":"P3","links":["5ad4e590.252bdc"],"x":410,"y":140,"wires":[],"l":true},{"id":"4d6728a2.96e098","type":"link out","z":"198f2f71.ac0d81","name":"P4","links":["62af28bc.01d428"],"x":410,"y":180,"wires":[],"l":true},{"id":"23e1ecc7.1b65f4","type":"switch","z":"198f2f71.ac0d81","name":"","property":"payload.Mode","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"Power","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Over Current On Port","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":320,"wires":[["95f82a5.156b5d8"],["f26f28e2.af6508"],["180b10b6.b2509f"],["6509ee72.b3ea"]]},{"id":"95f82a5.156b5d8","type":"change","z":"198f2f71.ac0d81","name":"Off","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["46eab484.de631c"]]},{"id":"f26f28e2.af6508","type":"change","z":"198f2f71.ac0d81","name":"Power","rules":[{"t":"set","p":"color","pt":"msg","to":"darkorange","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["46eab484.de631c"]]},{"id":"180b10b6.b2509f","type":"change","z":"198f2f71.ac0d81","name":"Data","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["46eab484.de631c"]]},{"id":"5fd59187.b6e11","type":"ui_template","z":"198f2f71.ac0d81","group":"a13fc3c2.e2b6e","name":"Port 2","order":3,"width":0,"height":0,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: 'toggle'})\"> \n    P{{msg.payload.Port}}\n    &nbsp;:&nbsp;\n    {{msg.payload.Volts}}v\n    &nbsp;:&nbsp;\n    {{msg.payload.milliAmps}}mA\n</md-button> \n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":510,"y":500,"wires":[["3f59086e.e95918"]]},{"id":"3f59086e.e95918","type":"link out","z":"198f2f71.ac0d81","name":"","links":[],"x":775,"y":500,"wires":[]},{"id":"c412b759.e28c68","type":"link in","z":"198f2f71.ac0d81","name":"P2","links":["8ef66d6e.0b12a"],"x":110,"y":500,"wires":[["acc1d537.a1e608"]],"l":true},{"id":"f3742a10.8c5d38","type":"link in","z":"198f2f71.ac0d81","name":"","links":[],"x":735,"y":460,"wires":[["3f59086e.e95918"]]},{"id":"acc1d537.a1e608","type":"switch","z":"198f2f71.ac0d81","name":"","property":"payload.Mode","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"Power","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Over Current On Port","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":500,"wires":[["1b966489.2bd24b"],["622705ab.7fb86c"],["71441e12.7943c"],["317525a3.6f97fa"]]},{"id":"1b966489.2bd24b","type":"change","z":"198f2f71.ac0d81","name":"Off","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["5fd59187.b6e11"]]},{"id":"622705ab.7fb86c","type":"change","z":"198f2f71.ac0d81","name":"Power","rules":[{"t":"set","p":"color","pt":"msg","to":"darkorange","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":480,"wires":[["5fd59187.b6e11"]]},{"id":"71441e12.7943c","type":"change","z":"198f2f71.ac0d81","name":"Data","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":520,"wires":[["5fd59187.b6e11"]]},{"id":"67ca8335.d24e8c","type":"ui_template","z":"198f2f71.ac0d81","group":"a13fc3c2.e2b6e","name":"Port 3","order":4,"width":0,"height":0,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: 'toggle'})\"> \n    P{{msg.payload.Port}}\n    &nbsp;:&nbsp;\n    {{msg.payload.Volts}}v\n    &nbsp;:&nbsp;\n    {{msg.payload.milliAmps}}mA\n</md-button> \n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":510,"y":680,"wires":[["90c95bf6.2b7198"]]},{"id":"90c95bf6.2b7198","type":"link out","z":"198f2f71.ac0d81","name":"","links":[],"x":775,"y":680,"wires":[]},{"id":"5ad4e590.252bdc","type":"link in","z":"198f2f71.ac0d81","name":"P3","links":["936368c2.63d288"],"x":110,"y":680,"wires":[["2fb0bb29.355154"]],"l":true},{"id":"e1568256.b55be","type":"link in","z":"198f2f71.ac0d81","name":"","links":[],"x":735,"y":640,"wires":[["90c95bf6.2b7198"]]},{"id":"2fb0bb29.355154","type":"switch","z":"198f2f71.ac0d81","name":"","property":"payload.Mode","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"Power","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Over Current On Port","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":680,"wires":[["a70f50d4.2b0e5"],["19de6923.a9aee7"],["a4fe4434.b94708"],["bcd5adf9.38d6"]]},{"id":"a70f50d4.2b0e5","type":"change","z":"198f2f71.ac0d81","name":"Off","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":620,"wires":[["67ca8335.d24e8c"]]},{"id":"19de6923.a9aee7","type":"change","z":"198f2f71.ac0d81","name":"Power","rules":[{"t":"set","p":"color","pt":"msg","to":"darkorange","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":660,"wires":[["67ca8335.d24e8c"]]},{"id":"a4fe4434.b94708","type":"change","z":"198f2f71.ac0d81","name":"Data","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":700,"wires":[["67ca8335.d24e8c"]]},{"id":"d9c26729.781828","type":"ui_template","z":"198f2f71.ac0d81","group":"a13fc3c2.e2b6e","name":"Port 4","order":5,"width":0,"height":0,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.color}}\" ng-click=\"send({payload: 'toggle'})\"> \n    P{{msg.payload.Port}}\n    &nbsp;:&nbsp;\n    {{msg.payload.Volts}}v\n    &nbsp;:&nbsp;\n    {{msg.payload.milliAmps}}mA\n</md-button> \n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":510,"y":860,"wires":[["6c05dbce.52a3c4"]]},{"id":"6c05dbce.52a3c4","type":"link out","z":"198f2f71.ac0d81","name":"","links":[],"x":775,"y":860,"wires":[]},{"id":"62af28bc.01d428","type":"link in","z":"198f2f71.ac0d81","name":"P4","links":["4d6728a2.96e098"],"x":110,"y":860,"wires":[["dffec1f7.8f651"]],"l":true},{"id":"46e64a91.529704","type":"link in","z":"198f2f71.ac0d81","name":"","links":[],"x":735,"y":820,"wires":[["6c05dbce.52a3c4"]]},{"id":"dffec1f7.8f651","type":"switch","z":"198f2f71.ac0d81","name":"","property":"payload.Mode","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"Power","vt":"str"},{"t":"eq","v":"Data","vt":"str"},{"t":"eq","v":"Over Current On Port","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":860,"wires":[["4413e7ba.d22cd8"],["abde6c60.ba312"],["3ba593a9.9539dc"],["b3b207f2.51abd8"]]},{"id":"4413e7ba.d22cd8","type":"change","z":"198f2f71.ac0d81","name":"Off","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":800,"wires":[["d9c26729.781828"]]},{"id":"abde6c60.ba312","type":"change","z":"198f2f71.ac0d81","name":"Power","rules":[{"t":"set","p":"color","pt":"msg","to":"darkorange","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":840,"wires":[["d9c26729.781828"]]},{"id":"3ba593a9.9539dc","type":"change","z":"198f2f71.ac0d81","name":"Data","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":880,"wires":[["d9c26729.781828"]]},{"id":"6509ee72.b3ea","type":"change","z":"198f2f71.ac0d81","name":"Fault","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["46eab484.de631c"]]},{"id":"317525a3.6f97fa","type":"change","z":"198f2f71.ac0d81","name":"Fault","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":560,"wires":[["5fd59187.b6e11"]]},{"id":"bcd5adf9.38d6","type":"change","z":"198f2f71.ac0d81","name":"Fault","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["67ca8335.d24e8c"]]},{"id":"b3b207f2.51abd8","type":"change","z":"198f2f71.ac0d81","name":"Fault","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"target","pt":"msg","to":"P4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":920,"wires":[["d9c26729.781828"]]},{"id":"e29fb135.e2321","type":"link in","z":"198f2f71.ac0d81","name":"ports-dash","links":["45cc506d.dbbed","4f963909.ed5c88"],"x":100,"y":120,"wires":[["14e26ec9.7c0d91"]],"l":true},{"id":"a13fc3c2.e2b6e","type":"ui_group","name":"SmartHUB Controls","tab":"58f85292.d00f3c","order":8,"disp":false,"width":"3","collapse":false},{"id":"58f85292.d00f3c","type":"ui_tab","name":"Machine Monitoring (Lab)","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
