version 2/design 2/code/Node-Red Flows/Smart USB Hub mqtt.flow
[{"id":"32d5dcb8.a5ae74","type":"tab","label":"Smart USB Hub mqtt","disabled":false,"info":""},{"id":"df12a029.5856b","type":"comment","z":"32d5dcb8.a5ae74","name":"LWT","info":"","x":70,"y":40,"wires":[]},{"id":"dfe67a64.62f9d8","type":"mqtt in","z":"32d5dcb8.a5ae74","name":"LWT Smart Hub","topic":"smartHUB/LWT","qos":"0","datatype":"auto","broker":"542e9a8a.0d3104","x":100,"y":80,"wires":[["ae460c78.0c9f"]]},{"id":"f8f0d1f0.0f271","type":"comment","z":"32d5dcb8.a5ae74","name":"Connection Debug","info":"","x":110,"y":140,"wires":[]},{"id":"e2dbd18b.b7f78","type":"mqtt in","z":"32d5dcb8.a5ae74","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"542e9a8a.0d3104","x":80,"y":180,"wires":[["50bc0095.dd5f8"]]},{"id":"50bc0095.dd5f8","type":"debug","z":"32d5dcb8.a5ae74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"b8fe6215.7ad5f","type":"mqtt in","z":"32d5dcb8.a5ae74","name":"","topic":"smartHUB/button","qos":"0","datatype":"json","broker":"542e9a8a.0d3104","x":100,"y":300,"wires":[["9c57dee8.8f38e"]]},{"id":"9c57dee8.8f38e","type":"debug","z":"32d5dcb8.a5ae74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":300,"wires":[]},{"id":"9a45b13f.1f5d5","type":"comment","z":"32d5dcb8.a5ae74","name":"Outgoing topic","info":"","x":90,"y":260,"wires":[]},{"id":"3ce5e502.80351a","type":"mqtt in","z":"32d5dcb8.a5ae74","d":true,"name":"","topic":"smartHUB/volt","qos":"0","datatype":"json","broker":"542e9a8a.0d3104","x":90,"y":420,"wires":[["9735c45b.3974f8"]]},{"id":"f069a12d.a9517","type":"mqtt in","z":"32d5dcb8.a5ae74","d":true,"name":"","topic":"smartHUB/buttonWIFI","qos":"0","datatype":"json","broker":"542e9a8a.0d3104","x":120,"y":340,"wires":[["5cec2a79.3e6f74"]]},{"id":"ae460c78.0c9f","type":"state-machine","z":"32d5dcb8.a5ae74","name":"Smart Hub status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"1","from":"offline","to":"online"},{"name":"0","from":"online","to":"offline"}],"x":390,"y":80,"wires":[[]]},{"id":"c1f0d5f9.814cc8","type":"mqtt out","z":"32d5dcb8.a5ae74","name":"MQTT out","topic":"","qos":"","retain":"","broker":"542e9a8a.0d3104","x":260,"y":540,"wires":[]},{"id":"909641fe.b0c8f","type":"link in","z":"32d5dcb8.a5ae74","name":"","links":["5c720080.fa752","2154811.832be7e","ac2ce1fa.e88df","32c0cc1d.c22404","f3bf324.9fe77d","2765cc36.167614","5d5ba2ea.adb80c","4135f676.d61548","74bbe6d2.36bce8","3165300a.a50fb","3c6c5af4.28f136","e74dafd4.a2399","9b863a6.2a3dec8","36340db2.4d3962","221d4a3c.005a76","29d8c2e.66e5e3e","3605082d.d5b7e8","432730f0.3c362","4725c464.c8667c","334e806f.659f6","7d70d212.b9e76c","22152ad9.34aa16","89ac1dae.09e99","eb835680.88e4b8","764bee29.52dc6","6cf07fe3.0422e","e65eadf9.e4043","203f6756.03a0d8","559aa128.a076c","dd1c7d51.95e74","a6ea5e5d.32a25","cf6e2569.610938","ab93c784.837cb8","994575fb.d80508","3e33241a.8ceb2c","3ffe1931.d038a6","6313dac6.5aba24","5f918c07.9931a4","4abb9aed.28e954","dac6c79f.fef118","e3e99ae7.453598","bee9530f.cd3c6","8198c1b9.aeb53","63486ab9.1086b4","fa244a31.eefc38","f562d2d8.281ae","29ca364d.ef883a","4a79692e.594e58","b8e6e3b6.f2335","10567fc6.82c1f","935160e2.331de","b9201be4.02fff8","e9c3ec4c.bd557","20b854fd.96ba0c","b5442134.ac43a","12c7870f.64a899","3860c140.8e08be","65f2dc9f.452d04","94eb8f93.5e8e3","ec8f003b.3fc83","1b32cf4.ad8b731","b7de5eb6.0c2b6","8ab2ee7a.34db5","56de670.fd22698","755785f5.9c3c9c","5dd3485c.745468","cdd317ca.e1c948","c8b7053b.6053b8","cf14e4ed.9ad0b8","6b44403.28981c","358797f9.191fe8","5f2cd6d8.df0c88","ce153949.ae8518","96f91e0f.ea794","970799a0.401d78","ba694d77.752b2","b953ef28.c106c","3fcc027a.ad771e","f9d8e6fe.94b8e8","a7d11ec3.e361c","f681a151.1a6ae","b114cdc0.d7a0b","8c03a797.a1ce18","cbc3cded.ddae5","be52cbf3.66b1e8","2256a0b0.6ce2","fef3bac5.f04b68","7d704144.2cfa4","c8d14e96.dd184","f07c708b.c9cf","40cba0f1.8c396","2a779736.55c668","aa108981.af0598","fa04f0f4.cd57c","7de7fa5c.696e34","1cfbe337.1458fd","890e6dd0.9b79f","a0ace86b.11abb8","403534d3.ef15ec","95a3faea.df0818","335b5dce.6896d2","1396b894.dd5bb7"],"x":135,"y":540,"wires":[["c1f0d5f9.814cc8"]]},{"id":"5cec2a79.3e6f74","type":"debug","z":"32d5dcb8.a5ae74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":340,"wires":[]},{"id":"e6b1e652.32e418","type":"debug","z":"32d5dcb8.a5ae74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":380,"wires":[]},{"id":"9735c45b.3974f8","type":"debug","z":"32d5dcb8.a5ae74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"cf4bc74e.c31f68","type":"mqtt in","z":"32d5dcb8.a5ae74","name":"","topic":"smartHUB/port","qos":"0","datatype":"json","broker":"542e9a8a.0d3104","x":100,"y":380,"wires":[["4f963909.ed5c88","e6b1e652.32e418"]]},{"id":"4f963909.ed5c88","type":"link out","z":"32d5dcb8.a5ae74","name":"","links":["e29fb135.e2321"],"x":255,"y":380,"wires":[]},{"id":"f35c5a05.8b43d8","type":"comment","z":"32d5dcb8.a5ae74","name":"Control","info":"","x":80,"y":500,"wires":[]},{"id":"542e9a8a.0d3104","type":"mqtt-broker","name":"SkyNet","broker":"skynet.tinkernet.ca","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
