version 2/design 2/code/node-red example.txt
[{"id":"a5039de0cc8b74b0","type":"tab","label":"Smart USB Hub","disabled":false,"info":""},{"id":"ca3824b8c9a4f6ae","type":"comment","z":"a5039de0cc8b74b0","name":"LWT","info":"","x":110,"y":240,"wires":[]},{"id":"a5d1b2cc2a72dfa3","type":"mqtt in","z":"a5039de0cc8b74b0","name":"LWT Smart Hub","topic":"smartHUB/LWT","qos":"0","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":140,"y":280,"wires":[["318137547690ac7d"]]},{"id":"318137547690ac7d","type":"state-machine","z":"a5039de0cc8b74b0","name":"Smart Hub status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"1","from":"offline","to":"online"},{"name":"0","from":"online","to":"offline"}],"x":430,"y":280,"wires":[[]]},{"id":"372e014cc99f1602","type":"comment","z":"a5039de0cc8b74b0","name":"Connection Debug","info":"","x":150,"y":380,"wires":[]},{"id":"a4cccc1f12a6a1dc","type":"mqtt in","z":"a5039de0cc8b74b0","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":120,"y":420,"wires":[["34048b5443495a58"]]},{"id":"34048b5443495a58","type":"debug","z":"a5039de0cc8b74b0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"2bc0849bd8cbef61","type":"comment","z":"a5039de0cc8b74b0","name":"Flash Interval","info":"","x":130,"y":1200,"wires":[]},{"id":"843589ce141a8867","type":"inject","z":"a5039de0cc8b74b0","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":140,"y":1240,"wires":[["a1ed755535e170a5"]]},{"id":"9309494fd768936e","type":"inject","z":"a5039de0cc8b74b0","name":"stop timer","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1280,"wires":[["a1ed755535e170a5"]]},{"id":"a1ed755535e170a5","type":"trigger","z":"a5039de0cc8b74b0","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1260,"wires":[["26c31240c2dc727a"]]},{"id":"26c31240c2dc727a","type":"state-machine","z":"a5039de0cc8b74b0","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","1"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"0"}],"x":700,"y":1260,"wires":[["dba9d773ef819baf"]]},{"id":"dba9d773ef819baf","type":"mqtt out","z":"a5039de0cc8b74b0","name":"","topic":"flash","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1230,"y":1260,"wires":[]},{"id":"0efb629213538502","type":"mqtt in","z":"a5039de0cc8b74b0","name":"","topic":"smartHUB/button","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":140,"y":540,"wires":[["5ee8c0ef92c75bf5"]]},{"id":"5ee8c0ef92c75bf5","type":"debug","z":"a5039de0cc8b74b0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":620,"wires":[]},{"id":"3d34397b45d661f6","type":"mqtt in","z":"a5039de0cc8b74b0","name":"","topic":"smartHUB/port","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":140,"y":660,"wires":[["5ee8c0ef92c75bf5"]]},{"id":"d962e576d7d1d949","type":"mqtt out","z":"a5039de0cc8b74b0","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1240,"y":1440,"wires":[]},{"id":"a343fa465f2517fd","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 error test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,4000","payloadType":"str","x":160,"y":1400,"wires":[["d962e576d7d1d949"]]},{"id":"a516b2d3fcad2b8e","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 1500mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,1500","payloadType":"str","x":160,"y":1440,"wires":[["d962e576d7d1d949"]]},{"id":"8a91b8b63c407b31","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 50mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"1,50","payloadType":"str","x":150,"y":1480,"wires":[["d962e576d7d1d949"]]},{"id":"d85957bd570c453b","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 1500mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"2,1500","payloadType":"str","x":440,"y":1440,"wires":[["d962e576d7d1d949"]]},{"id":"9eddf07c62e4bdbd","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 50mA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/current","payload":"2,50","payloadType":"str","x":430,"y":1480,"wires":[["d962e576d7d1d949"]]},{"id":"3d4b119854a2306f","type":"comment","z":"a5039de0cc8b74b0","name":"Outgoing topic","info":"","x":130,"y":500,"wires":[]},{"id":"1a6c895561c1eeca","type":"comment","z":"a5039de0cc8b74b0","name":"Port Current Config","info":"","x":150,"y":1360,"wires":[]},{"id":"4cd48414b5c94d39","type":"mqtt in","z":"a5039de0cc8b74b0","d":true,"name":"","topic":"smartHUB/volt","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":130,"y":720,"wires":[["5ee8c0ef92c75bf5"]]},{"id":"ee152b771aed03ad","type":"mqtt out","z":"a5039de0cc8b74b0","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1240,"y":1640,"wires":[]},{"id":"21e787a137c2066d","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,data","payloadType":"str","x":420,"y":1680,"wires":[["ee152b771aed03ad"]]},{"id":"f9369403ea0aad9a","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,data","payloadType":"str","x":140,"y":1680,"wires":[["ee152b771aed03ad"]]},{"id":"8f1ffaac66e86422","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,power","payloadType":"str","x":430,"y":1640,"wires":[["ee152b771aed03ad"]]},{"id":"f58f52963fd00caa","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,power","payloadType":"str","x":150,"y":1640,"wires":[["ee152b771aed03ad"]]},{"id":"3086c94ac8815f65","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"2,off","payloadType":"str","x":420,"y":1600,"wires":[["ee152b771aed03ad"]]},{"id":"bc6e2d63c67fa736","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"1,off","payloadType":"str","x":140,"y":1600,"wires":[["ee152b771aed03ad"]]},{"id":"9a399804dda43e77","type":"comment","z":"a5039de0cc8b74b0","name":"LED brightness","info":"","x":140,"y":960,"wires":[]},{"id":"a5c5cd273eca6d59","type":"inject","z":"a5039de0cc8b74b0","name":"full","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"255","payloadType":"str","x":130,"y":1000,"wires":[["e8aa6a228fd5dc8c"]]},{"id":"f88554bf4aa0b6b5","type":"inject","z":"a5039de0cc8b74b0","name":"mid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"100","payloadType":"str","x":130,"y":1080,"wires":[["e8aa6a228fd5dc8c"]]},{"id":"bbbbbfab55d20f7d","type":"inject","z":"a5039de0cc8b74b0","name":"low","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"5","payloadType":"str","x":130,"y":1120,"wires":[["e8aa6a228fd5dc8c"]]},{"id":"85e8faf574c829e5","type":"comment","z":"a5039de0cc8b74b0","name":"Port State","info":"","x":120,"y":1560,"wires":[]},{"id":"e8aa6a228fd5dc8c","type":"mqtt out","z":"a5039de0cc8b74b0","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":400,"y":1040,"wires":[]},{"id":"fc66aabd0c591de9","type":"inject","z":"a5039de0cc8b74b0","name":"TRUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/override","payload":"1","payloadType":"str","x":130,"y":840,"wires":[["455d566f13426d1c"]]},{"id":"f51270281cebec25","type":"inject","z":"a5039de0cc8b74b0","name":"FALSE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/override","payload":"0","payloadType":"str","x":130,"y":880,"wires":[["455d566f13426d1c"]]},{"id":"761b77261059937b","type":"comment","z":"a5039de0cc8b74b0","name":"OverRide Mode","info":"","x":140,"y":800,"wires":[]},{"id":"455d566f13426d1c","type":"mqtt out","z":"a5039de0cc8b74b0","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":400,"y":860,"wires":[]},{"id":"37bf2487f6d6d921","type":"mqtt in","z":"a5039de0cc8b74b0","d":true,"name":"","topic":"smartHUB/buttonWIFI","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":160,"y":600,"wires":[["5ee8c0ef92c75bf5"]]},{"id":"329b16268cdd097d","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,data","payloadType":"str","x":700,"y":1680,"wires":[["ee152b771aed03ad"]]},{"id":"0f678b084e60cea8","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,power","payloadType":"str","x":710,"y":1640,"wires":[["ee152b771aed03ad"]]},{"id":"78c230efb2c6e6c4","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"3,off","payloadType":"str","x":700,"y":1600,"wires":[["ee152b771aed03ad"]]},{"id":"31e462c46a34df0b","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,data","payloadType":"str","x":980,"y":1680,"wires":[["ee152b771aed03ad"]]},{"id":"a274ad3b6801b32b","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,power","payloadType":"str","x":990,"y":1640,"wires":[["ee152b771aed03ad"]]},{"id":"79c4ddd03c2e9f16","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/state","payload":"4,off","payloadType":"str","x":980,"y":1600,"wires":[["ee152b771aed03ad"]]},{"id":"b24a541664e76389","type":"mqtt out","z":"a5039de0cc8b74b0","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1240,"y":1900,"wires":[]},{"id":"d2e2a8c334a07f67","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,255,0,0","payloadType":"str","x":150,"y":1880,"wires":[["b24a541664e76389"]]},{"id":"e78537b0a01d22d6","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,255,0,0,0","payloadType":"str","x":140,"y":1840,"wires":[["b24a541664e76389"]]},{"id":"5aa7162f0d731e51","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,0,0","payloadType":"str","x":140,"y":1800,"wires":[["b24a541664e76389"]]},{"id":"5a3b8d5d95310fac","type":"comment","z":"a5039de0cc8b74b0","name":"LED Set","info":"","x":120,"y":1760,"wires":[]},{"id":"432155d82223c348","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"1,255,0,255,0","payloadType":"str","x":180,"y":2000,"wires":[["b24a541664e76389"]]},{"id":"69c3ed326264c763","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,0,255","payloadType":"str","x":150,"y":1960,"wires":[["b24a541664e76389"]]},{"id":"d36adc6d1f8a4b95","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,0,0,255,0","payloadType":"str","x":150,"y":1920,"wires":[["b24a541664e76389"]]},{"id":"f9e539190d3622b8","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,255,0,0","payloadType":"str","x":430,"y":1880,"wires":[["b24a541664e76389"]]},{"id":"b0695fa797bb2778","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,255,0,0,0","payloadType":"str","x":420,"y":1840,"wires":[["b24a541664e76389"]]},{"id":"86b9b5fecae9df74","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,0,0","payloadType":"str","x":420,"y":1800,"wires":[["b24a541664e76389"]]},{"id":"85723c2ab29f48cb","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"2,255,0,255,0","payloadType":"str","x":460,"y":2000,"wires":[["b24a541664e76389"]]},{"id":"b2c3b10394ee5456","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,0,255","payloadType":"str","x":430,"y":1960,"wires":[["b24a541664e76389"]]},{"id":"d9f8808a94c96b29","type":"inject","z":"a5039de0cc8b74b0","name":"port 2 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"2,0,0,255,0","payloadType":"str","x":430,"y":1920,"wires":[["b24a541664e76389"]]},{"id":"f1a22695a52d4d6f","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,255,0,0","payloadType":"str","x":710,"y":1880,"wires":[["b24a541664e76389"]]},{"id":"e047c3ea3d0d7f02","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,255,0,0,0","payloadType":"str","x":700,"y":1840,"wires":[["b24a541664e76389"]]},{"id":"682a1db338a4c3df","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,0,0","payloadType":"str","x":700,"y":1800,"wires":[["b24a541664e76389"]]},{"id":"b3d9e4391b0e08b1","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"3,255,0,255,0","payloadType":"str","x":740,"y":2000,"wires":[["b24a541664e76389"]]},{"id":"1ed511de39d70299","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,0,255","payloadType":"str","x":710,"y":1960,"wires":[["b24a541664e76389"]]},{"id":"2e7ac7af1fdcf640","type":"inject","z":"a5039de0cc8b74b0","name":"port 3 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"3,0,0,255,0","payloadType":"str","x":710,"y":1920,"wires":[["b24a541664e76389"]]},{"id":"d22642cf5b5f2739","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 GREEN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,255,0,0","payloadType":"str","x":990,"y":1880,"wires":[["b24a541664e76389"]]},{"id":"5ad90dfe0664f481","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 RED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,255,0,0,0","payloadType":"str","x":980,"y":1840,"wires":[["b24a541664e76389"]]},{"id":"e272b369f1429452","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,0,0","payloadType":"str","x":980,"y":1800,"wires":[["b24a541664e76389"]]},{"id":"55b10b7fb470d37e","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 FLASH PURPLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/flash","payload":"4,255,0,255,0","payloadType":"str","x":1020,"y":2000,"wires":[["b24a541664e76389"]]},{"id":"661df105fc224c78","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 WHITE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,0,255","payloadType":"str","x":990,"y":1960,"wires":[["b24a541664e76389"]]},{"id":"1190e3c54ff5adfa","type":"inject","z":"a5039de0cc8b74b0","name":"port 4 BLUE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"4,0,0,255,0","payloadType":"str","x":990,"y":1920,"wires":[["b24a541664e76389"]]},{"id":"42c6c68cd95b228c","type":"inject","z":"a5039de0cc8b74b0","name":"port 1 RED/white","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/rgbw","payload":"1,255,0,0,50","payloadType":"str","x":160,"y":2040,"wires":[["b24a541664e76389"]]},{"id":"10d72726c082535f","type":"inject","z":"a5039de0cc8b74b0","name":"3/4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartHUB/brightness","payload":"190","payloadType":"str","x":130,"y":1040,"wires":[["e8aa6a228fd5dc8c"]]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]